<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试访问入口</title>
</head>
<body>
<h2>测试入口</h2>
<span>张三</span>
<!--<span th:text="andre">张三</span>-->

</body>
</html>